body {
  font-size: 18px;
  color: #000;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
body.block {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;

  padding: 0;
  margin: 0;
}




.click_bg.active {
  opacity: 1;
  pointer-events: auto;
}
.click_bg {
  width: 100%;
  height: 100vh;

  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  background-color: #00000066;
}



/* INTRO */
.intro {
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  background: url(../img/bg/bg1.webp) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.intro::after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #00000080;
}

.header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  width: 100%;
}

.header_content {
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 20px 15px;
}

.logo {
  flex: 0 0 auto;
}

.logo_text {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  text-shadow: 0 0 3px #fff;
}
.burger.active {
  transform: rotate(90deg);
}
.burger {
  position: fixed;
  right: 15px;
  z-index: 11;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.6s ease;
}

.burger.active 
.burger_items {
  background: none;
  box-shadow: none;
}
.burger_items {
  position: relative;
  width: 80%;
  height: 2px;

  transition: 0.2s ease;
  transition-delay: 0.2s;
  background-color: #fff;
  box-shadow: 0 0 3px #fff;
}

.burger_items::before ,
.burger_items::after {
  position: absolute;
  content: '';
  left: 0;

  width: 100%;
  height: 2px;

  transition: 0.2s ease;
  transition-delay: 0.2s;
  background-color: #fff;
  box-shadow: 0 0 3px #fff;
}

.burger.active 
.burger_items::before {
  top: 0;
  transform: rotate(45deg);
}
.burger_items::before {
  top: 8px;
}
.burger.active 
.burger_items::after {
  top: 0;
  transform: rotate(-45deg);
}
.burger_items::after {
  top: -8px;
}

.intro_content {
  width: 100%;
  max-width: 600px;

  position: relative;
  z-index: 2;

  margin: 0 auto;
  padding: 0 15px;
}

.intro_text {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #fff;
}

.nav_menu.active {
  right: 0;
}
.nav_menu {
  position: fixed;
  z-index: 10;
  right: -250px;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 100vh;

  transition: 0.2s ease;
  background-color: #14110c;
  box-shadow: 0 0 2px #534c3c inset, 0 0 4px #534c3c inset, 0 0 6px #534c3c inset;
}

.nav_menu ul {
  width: 100%;
}

.nav_link.active{
  background-color: #534c3c;
  box-shadow: 0 0 5px #534c3c;
}
.nav_link {
  width: 100%;

  display: block;

  color: #fff;
  text-shadow: 0 0 3px #fff;
  text-align: center;

  transition: 0.2s ease;
  padding: 10px 0;
}





/* SECTIONS */
.section {
  width: 100%;

  padding: 50px 0;
}

.hello {
  background-color: #534c3c;
}

.what_we_do {
}

.works {
  background-color: #171717;
}

.clients {
  background-color: grey;
}

.slider_bg {
  padding: 0;
  background-color: #171717;
}




/* CONTAINERS */
.container {
  max-width: 1200px;  

  margin: 0 auto;
  padding: 0 15px;
}




/* SLIDER_BG */
.slider_bg_container {
  height: 300px;

  overflow: hidden;

  padding: 0;
  margin: 0 auto;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: #000;
}
.swiper-slide img {
  width: 100%;
  height: 100%;

  display: block;

  opacity: 0.7;
  object-fit: cover;
}




/* FOOTER */
.footer {
  width: 100%;

  padding: 50px 0;
  background-color: #171717;
}

.footer_content {
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 15px;
}




@media (min-width: 576px) {
  /* SLIDER_BG */
  .slider_bg_container {
  }

}




@media (min-width: 768px) {
  /* INTRO */



}




@media (min-width: 992px) {
  /* INTRO */
  .header_content {
    justify-content: center;
  }

  .logo_text {
    font-size: 40px;
  }

  .intro_text {
    font-size: 35px;
  }

  .burger {
    display: none;
  }

  .nav_menu {
    position: fixed;
    z-index: 10;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    height: auto;

    background: none;
    box-shadow: none;
  }

  .nav_menu {
    justify-content: end;
  }

  .nav_menu ul {
    width: fit-content;
  }

  .nav_menu li {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav_link.active {
    color: #fff;
    text-shadow: 0 0 3px #fff;
    background: none;
    box-shadow: none;
  }
  .nav_link {
    position: relative;

    width:  fit-content;

    text-align: right;
    color: transparent;
    text-shadow: none;

    padding: 5px 20px 5px 0;
  }
  .nav_link:hover {
    color: #fff;
    text-shadow: 0 0 3px #fff;
  }

  .nav_link::after {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 10px;
    height: 10px;

    transition: 0.2s ease;
    cursor: pointer;
    border-radius: 2px;
    background-color: #534c3c;
    box-shadow: 0 0 5px #fff inset;
  }
  .nav_link:hover::after {
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
  }
  .nav_link.active:after {
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
  }
  
}




@media (min-width: 1200px) {

}




@media (min-width: 1400px) {

}