body {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 3px #fff;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
body.block {
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;

  padding: 0;
  margin: 0;
}


.click_bg.active {
  opacity: 1;
  pointer-events: auto;
}
.click_bg {
  width: 100%;
  height: 100000vh;

  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  background-color: #00000066;
}

/* SECTIONS */
.section {
  width: 100%;

  padding: 50px 0;
}
.place {
  background-color: #101216;
  padding: 100px 0 50px;
}
.menu {
  background-color: #101216;
}
.slider_bg {
  background-color: #101216;
}

/* CONTAINERS */
.container {
  max-width: 1200px;  

  margin: 0 auto;
  padding: 0 15px;
}

/* INTRO */
.intro {
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
  background: url(../img/bg/bg1.webp) center no-repeat;
  background-size: cover;
}
.intro::after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #00000080;
}
.header.fixed {
  background-color: #101216;
  box-shadow: 0 0 2px #46464f inset, 0 0 4px #46464f inset, 0 0 6px #46464f inset;
}
.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  transition: 0.2s ease;

  width: 100%;
}
.header_content {
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 20px 15px;
}
.logo {
  flex: 0 0 auto;
}
.logo_text {
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  text-shadow: 0 0 3px #fff;
}
.burger {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 11;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.6s ease;
}
.burger.active 
.burger_items {
  background: none;
  box-shadow: none;
}
.burger_items {
  position: relative;
  width: 80%;
  height: 2px;

  transition: 0.4s ease;
  background-color: #fff;
  box-shadow: 0 0 3px #fff;
}
.burger_items::before ,
.burger_items::after {
  position: absolute;
  content: '';
  left: 0;

  width: 100%;
  height: 2px;

  transition: 0.4s ease;
  background-color: #fff;
  box-shadow: 0 0 3px #fff;
}
.burger.active 
.burger_items::before {
  left: 100%;
  background: none;
  box-shadow: none;
}
.burger_items::before {
  top: 8px;
}
.burger.active 
.burger_items::after {
  left: -100%;
  background: none;
  box-shadow: none;
}
.burger_items::after {
  top: -8px;
}
.burger_items2 {
  width: 80%;
  position: relative;
  width: 100%;
  height: 2px;

  background: none;
}
.burger_items2::before,
.burger_items2::after {
  position: absolute;
  content: '';

  width: 100%;
  height: 2px;

  transition: 0.4s ease;
  background-color: #fff;
  box-shadow: 0 0 3px #fff;
}
.burger.active 
.burger_items2::before {
  transform: translate(0) rotate(45deg);
  opacity: 1;
}
.burger_items2::before {
  opacity: 0;
  transform: translate(-25px, -25px) rotate(45deg);
}
.burger.active 
.burger_items2::after {
  transform: translate(0) rotate(-45deg);
  opacity: 1;
}
.burger_items2::after {
  opacity: 0;
  transform: translate(25px, -25px) rotate(-45deg);
}
.intro_content {
  width: 100%;
  max-width: 600px;

  position: relative;
  z-index: 2;

  margin: 0 auto;
  padding: 0 15px;
}
.intro_text {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #fff;
}
.nav_menu.active {
  right: 0;
}
.nav_menu {
  position: fixed;
  z-index: 10;
  right: -250px;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 100vh;

  transition: 0.2s ease;
  background-color: #17171a;
  box-shadow: 0 0 2px #46464f inset, 0 0 4px #46464f inset, 0 0 6px #46464f inset;
}
.nav_menu.active ul {
  transform: translateX(0%);
  opacity: 1;
}
.nav_menu ul {
  width: 100%;
  transform: translateX(20%);
  opacity: 0;
  transition: 1s ease;
  transition-delay: 0.2s;
}
.nav_link.active{
  background-color: #656572;
  box-shadow: 0 0 5px #656572;
}
.nav_link {
  width: 100%;

  display: block;

  color: #fff;
  text-shadow: 0 0 3px #fff;
  text-align: center;
  text-transform: capitalize;

  transition: 0.2s ease;
  padding: 10px 0;
}

/* SLIDER_PLACE */
.place_container {
  max-width: 100%;
  height: 300px;

  overflow: hidden;

  position: relative;

  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0 auto 15px;
}
.place_slide {
  width: 100%;
  height: 100%;

  overflow: hidden;
  background-color: #000;
}
.place_slide img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  opacity: 0.7;

  display: block;
}
.slider_place_navigation {
  display: none;
}
.swiper-pagination_place .swiper-pagination {
  position: static !important;

  width: 100% !important;
  max-width: 650px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 15px;

  text-align: right !important;
  padding: 0 15px;
  margin: 0 auto;
  opacity: 1;
}
.swiper-pagination_place .swiper-pagination-bullet {
  width: 15px !important;
  height: 7px !important;

  border-radius: 5px !important;
  background: #46464f !important;
  box-shadow: 0 0 3px #fff inset !important;
  opacity: 1 !important;
}
.swiper-pagination_place .swiper-pagination-bullet:focus {
  outline: none;
}
.swiper-pagination_place .swiper-pagination-bullet-active {
  background: #fff !important;
  box-shadow: 0 0 3px #fff !important;
}

/* SLIDER_MENU */
.click_bg_menu.active {
  opacity: 1;
  pointer-events: auto;
}
.click_bg_menu {
  width: 100%;
  height: 100000vh;

  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  background-color: #00000066;
}
.popup_menu_img.active {
  opacity: 1;
  pointer-events: auto;
}
.popup_menu_img {
  width: 90%;
  max-width: 400px;
  height: 300px;

  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;

  border-radius: 5px;
  background-color: #10121680;
  box-shadow: 0 0 2px #46464f inset, 0 0 4px #46464f inset, 0 0 6px #46464f inset;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 30px;
}
.menu_img.active {
  display: block;
}
.menu_img {
  width: 100%;
  height: 100%;

  display: none;

  border-radius: 5px;
  overflow: hidden;
}
.menu_img img {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;
}
.menu_drink img {
  object-fit: contain;
}
.menu_container {
  position: relative;

  width: 100%;
  max-width: 1000px;

  overflow: hidden;
  padding: 0 15px;
  margin-bottom: 30px;
}
.slide_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  width: fit-content;

  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 auto 30px;
}
.slide_menu_items {
  width: 100%;

  display: grid;
  grid-template-columns: 290px;
  justify-content: center;
  gap: 25px;
}
.menu_content {
  width: 100%;
}
.menu_content_item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}
.subtitle {
  max-width: 155px;

  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;

  transition: 0.2s ease;
  cursor: pointer;
}
.subtitle_blink {
  animation: light_blink 5s ease infinite;
}
@keyframes light_blink {
  0% {
    opacity: 1;
    text-shadow: 0 0 5px #fff;
  }
  25% {
    opacity: 0.2;
    text-shadow: none;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 5px #fff;
  }
  75% {
    opacity: 0.2;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #fff;
  }
}
.text {
  font-size: 14px;
  font-weight: 200;
}
.menu_content_decor {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  flex: 0 0 auto;
}
.decor_items {
  width: 5px;
  height: 5px;

  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px #fff;
  margin: 0 5px;
}
.decor_items:nth-child(2) {
  width: 8px;
  height: 8px;

  transform: rotate(45deg);
  border-radius: 0;
}
.menu_price {
  font-size: 15px;
  font-weight: 200;
}
.menu_price sup {
  font-size: 11px;
}
.swiper-pagination_menu .swiper-pagination {
  position: static !important;

  width: 100% !important;
  max-width: 290px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 15px;

  text-align: right !important;
  margin: 0 auto;
  opacity: 1;
}
.swiper-pagination_menu .swiper-pagination-bullet {
  width: 15px !important;
  height: 7px !important;

  border-radius: 5px !important;
  background: #46464f !important;
  box-shadow: 0 0 3px #fff inset !important;
  opacity: 1 !important;
}
.swiper-pagination_menu .swiper-pagination-bullet:focus {
  outline: none;
}
.swiper-pagination_menu .swiper-pagination-bullet-active {
  background: #fff !important;
  box-shadow: 0 0 3px #fff !important;
}
.menu_navigation {
  display: none;
}

/* SLIDER_BG */
.slider_bg_container {
  max-width: 100%;
  height: 300px;

  overflow: hidden;

  padding: 0;
  margin: 0 auto;
}
.img_slide {
  width: 100%;
  height: 100%;

  overflow: hidden;

  position: relative;

  background-color: #000;
}
.img_slide img {
  width: 100%;
  height: 100%;

  display: block;

  position: relative;
  z-index: 1;

  opacity: 0.7;
  object-fit: cover;
}
.slide_content {
  width: 96%;

  position: absolute;
  z-index: 2;
  bottom: 2%;
  left: 2%;

  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 auto;
  background-color: #10121680;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.slide_title {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.slide_text {
  font-size: 12px;
  font-weight: 200;
}
.slide_prise {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 2%;

  color: #fff;
  font-size: 15px;
  text-shadow: 0 0 3px #fff;
  font-weight: 200;
  border-radius: 0 0 5px 5px;
  padding: 15px 5px 5px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: #10121680;
}
.slide_prise sup {
  font-size: 11px;
}

/* FOOTER */
.footer {
  width: 100%;

  padding: 0 0 30px;
  background-color: #101216;
}
.footer_content {
  max-width: 650px;

  margin: 0 auto;
  padding: 0 15px;
}
.working_time {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
}
.data_time {
  display: flex;
  align-items: center;
}
.data_time span {
  font-size: 12px;

  margin-left: 10px;
}
.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.footer_items {
  display: flex;
  align-items: center;
}
.link_tel {
  color: #fff;
  text-shadow: 0 0 3px #fff;
  font-weight: 200;
  font-size: 12px;
  text-align: center;

  transition: 0.2s ease;
}
.vertical_border {
  position: relative;

  width: 8px;
  height: 8px;

  transform: rotate(45deg);

  margin: 0 30px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #fff;
}
.vertical_border::before,
.vertical_border::after {
  position: absolute;
  content: '';

  width: 5px;
  height: 5px;

  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #fff;
}
.vertical_border::before {
  top: 10px;
  left: -10px;
}
.vertical_border::after {
  top: -10px;
  right: -10px;
}
.footer_icons {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 30px;
}
.icon {
  width: 30px;

  font-size: 20px;
  text-align: center;
  color: #fff;

  margin:  0 10px;
  transition: 0.2s ease;
}
.footer_adres {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer_vertical_border {
  display: none;
}

@media (min-width: 576px) {
  /* MENU */
  .slide_menu_items {
    grid-template-columns: repeat(1, 290px);
  }

  /* FOOTER */
  .footer_adres {
    flex-direction: row;
  }
  .footer_vertical_border {
    display: block;
  }
}

@media (min-width: 768px) {
  /* PLACE */
  .swiper-pagination_place .swiper-pagination {
    padding: 0;
  }  

  /* MENU */
  .slide_menu_items {
    gap: 15px 50px;
    grid-template-columns: repeat(2, 300px);
  }
  .swiper-pagination_menu .swiper-pagination {
    max-width: 650px;
  }

  

}

@media (min-width: 992px) {
  /* INTRO */
  .header.fixed {
    background: none;
    box-shadow: none;
  }
  .header {
    position: absolute;
  }
  .header_content {
    justify-content: center;
  }
  .logo_text {
    font-size: 40px;
  }
  .intro_text {
    font-size: 35px;
  }
  .burger {
    display: none;
  }
  .nav_menu {
    position: fixed;
    z-index: 10;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    height: auto;

    background: none;
    box-shadow: none;
  }
  .nav_menu {
    justify-content: flex-end;
  }
  .nav_menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    opacity: 1;
    transform: translateX(0);

    width: fit-content;
  }
  .nav_menu li {
    display: flex;
    align-items: center;
    justify-content: end;

    font-size: 15px;
  }
  .nav_link.active {
    color: #fff;
    text-shadow: 0 0 3px #fff;
    background: none;
    box-shadow: none;
  }
  .first_link.active { 
    color: transparent;
    text-shadow: none;
  }
  .nav_link {
    position: relative;

    width:  fit-content;

    text-align: right;
    color: transparent;
    text-shadow: none;

    padding: 5px 25px 5px 0;
  }
  .nav_link:hover {
    color: #fff;
    text-shadow: 0 0 3px #fff;
  }
  .nav_link::after {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 10px;
    height: 20px;

    transition: 0.2s ease;
    cursor: pointer;
    border-radius: 5px;
    background-color: #46464f;
    box-shadow: 0 0 3px #fff inset;
  }
  .nav_link:hover::after {
    background-color: #fff;
    box-shadow: 0 0 3px #fff;
  }
  .nav_link.active:after {
    background-color: #fff;
    box-shadow: 0 0 3px #fff;
  }

  /* PLACE */
  .place_container {
    height: 500px;
  }
  .slider_place_navigation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    width: 100%;
    height: 100%;
    max-width: 1000px;
  
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  
    margin: 0 auto !important;
  }
  .swiper_place_prev {
    width: 90px !important;
    height: 30px !important;
  
    position: static !important;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    color: #fff !important;
    letter-spacing: 5px;
    cursor: pointer;
  
    transition: 0.2s ease;
    background-color: #0f111580;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 0 2px #46464f inset, 0 0 4px #46464f inset, 0 0 6px #46464f inset;
    border-radius: 5px;
    margin: 0 30px 5px !important;
  }
  .swiper_place_prev::after {
    content: '' !important;
  }
  .swiper_place_prev:focus {
    outline: none;
  }
  .swiper_place_prev:hover {
    background-color: #ffffff80;
  }
  .swiper_place_next {
    width: 90px !important;
    height: 30px !important;
  
    position: static !important;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    color: #fff !important;
    letter-spacing: 5px;
    cursor: pointer;
  
    transition: 0.2s ease;
    background-color: #0f111580;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 0 2px #46464f inset, 0 0 4px #46464f inset, 0 0 6px #46464f inset;
    border-radius: 5px;
    margin: 0 30px 5px !important;
  }
  .swiper_place_next::after {
    content: '' !important;
  }
  .swiper_place_next:focus {
    outline: none;
  }
  .swiper_place_next:hover {
    background-color: #ffffff80;
  }

  /* MENU */
  .subtitle:hover {
   opacity: 0.5;
  }
  .menu_navigation {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 100%;
    max-width: 1000px;

    margin: 0 auto 15px !important;
  }
  .swiper_menu_prev {
    width: 90px !important;
    height: 30px !important;

    position: static !important;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    color: #fff !important;
    letter-spacing: 5px;
    cursor: pointer;

    transition: 0.2s ease;
    background-color: #0f111580;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 0 2px #46464f inset, 0 0 4px #46464f inset, 0 0 6px #46464f inset;
    border-radius: 5px;
    margin: 0 30px !important;
  }
  .swiper_menu_prev::after {
    content: '' !important;
  }
  .swiper_menu_prev:focus {
    outline: none;
  }
  .swiper_menu_prev:hover {
    background-color: #ffffff80;
  }
  .swiper_menu_next {
    width: 90px !important;
    height: 30px !important;

    position: static !important;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    color: #fff !important;
    letter-spacing: 5px;
    cursor: pointer;

    transition: 0.2s ease;
    background-color: #0f111580;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 0 2px #46464f inset, 0 0 4px #46464f inset, 0 0 6px #46464f inset;
    border-radius: 5px;
    margin: 0 30px !important;
  }
  .swiper_menu_next::after {
    content: '' !important;
  }
  .swiper_menu_next:focus {
    outline: none;
  }
  .swiper_menu_next:hover {
    background-color: #ffffff80;
  }
  /* FOOTER */
  .link_tel:hover {
    opacity: 0.5;
  }
  .icon:hover {
    opacity: 0.5;
  }
}